<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 手机震动的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <queries>
        <package android:name="com.tencent.mm" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".NetEaseActivity2"
            android:exported="false" />
        <activity
            android:name=".NetEaseActivity"
            android:exported="false" />
        <activity
            android:name=".TaxActivity"
            android:exported="false" />
        <activity
            android:name=".TaxActivity2"
            android:exported="false" />
        <activity
            android:name=".TaxActivity3"
            android:exported="false" />
        <activity
            android:name=".CMBActivity"
            android:exported="false" />
        <activity
            android:name=".TaxActivity5"
            android:exported="false" />
        <activity
            android:name=".TaxActivity6"
            android:exported="false" />
        <activity
            android:name=".classloader.DexClassLoaderActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="com.faw.android"
                    android:path="/dexClassLoader"
                    android:scheme="ccx" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AIDLActivity"
            android:exported="false" />

        <service
            android:name=".service.RemoteService"
            android:process=":remote" />

        <activity
            android:name=".webview.WebViewActivity"
            android:exported="true" />
        <activity
            android:name=".ComponentActivity"
            android:exported="true" />
        <activity
            android:name=".ActionStudyActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="web.wapa.taobao.com"
                    android:path="/app/hummer-diantao/feedbackdetail/Home"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvvm.MVVMActivity"
            android:exported="true" />
        <activity
            android:name=".view.CustomedLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".ScreenShotActivity"
            android:exported="true" />
        <activity
            android:name=".media.MediaActivity"
            android:exported="true" />
        <activity
            android:name=".SecondActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="welcome"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TEST" />

                <category android:name="android.intent.category.TEST_1" />
                <category android:name="android.intent.category.TEST_2" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="application/pdf"
                    android:scheme="http" />
                <data
                    android:mimeType="application/pdf"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.test.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver
            android:name=".widget.SimpleWidgetProvider"
            android:exported="false"
            android:label="SimpleWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_simple_provider" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.test.fileProvider"
            android:exported="true"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
    </application>

</manifest>